{% load static %}
<link rel="stylesheet"
  href="{% static 'userProfile.css' %}" type="text/css">

<div class="wrapper">
    <div class="left">
        <img src="{% static 'flaticon.png' %}" alt="user" width="100">
        <h4>stephen</h4>
        
    </div>
    <div class="right">
        <div class="info">
            <h3>Information</h3>
            <div class="info_data">
                 <div class="data">
                    <h4>Email</h4>
                    <p>stephen@gmail.com </p>
                 </div>
                 <div class="data">
                   <h4>Phone</h4>
                    <p>6325329060  </p>
              </div>
              <div class="data">
                <h4>Semester</h4>
                <p>2</p>
             </div>
            </div>
        </div>
    </div>
      <div class="projects">
            <h3>Events Attended</h3>
            <div class="projects_data">
                 <div class="data">
                  <img src="{% static 'event1.png' %}" alt="user" width="100">
                 </div>
                 <div class="data">
                  <img src="{% static 'event2.png' %}" alt="user" width="100">
              </div>
            </div>
        </div>
      
       
    </div>
</div>

